@import 'tailwindcss';

@source '../**/*.{ts,tsx}';

@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-muted: rgba(0, 0, 0, 0.05);
  --color-muted-strong: rgba(0, 0, 0, 0.08);
  --color-primary-hover: #383838;
  --color-secondary-hover: #f2f2f2;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-pill: 128px;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --color-muted: rgba(255, 255, 255, 0.06);
    --color-muted-strong: rgba(255, 255, 255, 0.145);
    --color-primary-hover: #cccccc;
    --color-secondary-hover: #1a1a1a;
  }
}
